.rotating-circle {
  animation: rotation 10s infinite linear;
  transform-origin: 50px 50px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes magnify {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.magnify {
  animation: magnify 5s ease-in-out infinite;
}
